@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Kanit:wght@200&family=Orbitron&family=Prompt&family=Signika+Negative:wght@500&family=Slackside+One&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=EB+Garamond:ital,wght@0,800;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto+Slab:wght@200;300;400;500&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,600&family=Dosis:wght@600&family=EB+Garamond:ital,wght@0,800;1,500&family=Noto+Sans+Cypro+Minoan&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,600;1,600&family=Dosis:wght@600&family=EB+Garamond:ital,wght@0,800;1,500&family=Itim&family=Noto+Sans+Cypro+Minoan&family=Oswald:wght@500&display=swap');

.headerLove {
    font-family: 'Slackside One', cursive;
}

.connectWallet {
    font-family: 'Prompt', sans-serif;
}

.fontHeader { 
    font-family: 'Orbitron', sans-serif;
}

.mainText {
    font-family: 'Signika Negative', sans-serif;
}

.bgWarna {
    background-color: #5A96E3;
}

.textWarna {
    color: #5A96E3;
}

.fontLogin {
    font-family: 'Roboto', sans-serif;
}

.fontLoginn {
    font-family: 'Poppins', sans-serif;
}

.fontLogo {
    font-family: 'Dosis', sans-serif;
    font-family: 'EB Garamond', serif;
}

.fontJumbotron {
    font-family: 'Oswald', sans-serif;
}

.fontJumbotronn {
    font-family: 'Roboto', sans-serif;
}